{% extends '::admin.html.twig' %}

{% block body %}
    {% if app.session.flashBag.has('success') %}
        <div class="alert alert-success">
            {% for msg in app.session.flashBag.get('success') %}
                {{ msg }}
            {% endfor %}
        </div>
    {% endif %}
<div class="panel panel-default">
    <div class="panel-heading">
        <h3 class="panel-title">Destination list</h3>
    </div>
    <div class="panel-body">
    <table class="table table-striped">
        <thead>
            <tr>
                <th>Id</th>
                <th>Destinationname</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
        {% for destination in destinations %}
            <tr>
                <td><a href="{{ path('destination_show', { 'id': destination.id }) }}">{{ destination.id }}</a></td>
                <td>{{ destination.destinationName }}</td>
                <td>
                    <ul>
                        {#<li>#}
                            {#<a href="{{ path('destination_show', { 'id': destination.id }) }}">show</a>#}
                        {#</li>#}
                        <li>
                            <a href="{{ path('destination_edit', { 'id': destination.id }) }}"><i class="fa fa-pencil"></i> edit</a>
                        </li>
                    </ul>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
</div>
    </div>
{% endblock %}
