<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name='description' content='Unrivalled first-hand information of five-star hospitality to a home stay service' />
    <meta name='keywords' content='Sikkim rooms, hotels in sikkim, sikkim tour, sikkim travel planner, hotels in Gangtok, cheap hotels in Gangtok sikkim, good hotels in Gangtok, budget hotels in sikkim, hotel booking in sikkim, sikkim online booking, sikkim hotels and restaurants, hoTels in lachung, hotels in pelling, sikkim tour booking, sikkim tour package, sikkim hotel booking website, 3 star hotels In Sikkim, 4 star hotels in sikkim, 5 star hotels in sikkim, hotels at mg marg Gangtok, best hotel deal in gangtok, best hotel deal in sikkim.' />
    <meta name="robots" content="follow">
    <title>{% block title %}Sikkim Rooms{% endblock %}</title>
    {% block stylesheets %}
        <link type="text/css" rel="stylesheet" href="{{ asset('css/main.css') }}">
        <link rel="stylesheet" href="{{ asset('css/owl.carousel.css') }}">
        <link rel="stylesheet" href="{{ asset('css/owl.theme.css') }}">
        <link type="text/css" rel="stylesheet" href="{{ asset('css/smoothness/jquery-ui-1.10.4.custom.min.css') }}">
    {% endblock %}
    <link rel="icon" type="image/x-icon" href="{{ asset('favicon.ico') }}"/>
    <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,400,600" rel="stylesheet">
</head>
<body>
<!-- Header -->
<header>
    <!-- Navigation -->
    <div id="helpline">
    <div class="container">
        <div class="call-at">
            <span><img src="{{ asset('img/24hr.png') }}" width="30" height="30"> - 790-816-4133</span>
        </div>
    </div>
    </div>
    <div class="navbar navbar-default" id="sticky">
        <div class="container">
            <div class="navbar-header col-lg-8">
                <button type="button" data-toggle="collapse" data-target="#navbar-collapse-grid" class="navbar-toggle">
                    <span class="icon-bar"></span> <span class="icon-bar"></span> <span class="icon-bar"></span>
                </button>
                <a href="{{ path('homepage') }}" class="navbar-brand">
                    <!-- Logo -->
                    <div id="logo"><a href="{{ path('homepage') }}"><img src="{{ asset('img/logo.png') }}"></a></div>
                </a>
            </div>
            <div id="navbar-collapse-grid" class="navbar-collapse collapse">
                <ul class="nav navbar-nav">
                    <li><a href="{{ path('homepage') }}">Home</a></li>
                    <li><a href="#">Sikkim Tour</a></li>
                    <li><a href="#">Contact</a></li>
                </ul>
            </div>
        </div>
    </div>
</header>
<section id="frame">
    {% block frame %}
        {{ render(controller('AppBundle:Default:banner')) }}
    {% endblock %}
    <section id="reservation-form">
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    {{ render(controller('AppBundle:Default:Destination')) }}
                </div>
            </div>
        </div>
    </section>
</section>
<section id="room-carousel">
    <div class="container">
        <div class="row">
            {% block deals %}
            {% endblock %}
            {% block carousel %}
            {% endblock %}
        </div>
    </div>
</section>
<section id="main-content">
    <div class="container">
        <div class="row">
            {% block body %}{% endblock %}
        </div>
    </div>
</section>
<!-- Footer -->
<footer>
    <div class="container">
        <div class="row">
            <div class="col-md-3 col-sm-3">
                <h4>Corporate Office:</h4>
                <p>Decorum LLP,<br>
                    A 246, New Ashok Nagar,<br>
                    Delhi - 110096</p>
            </div>
            <div class="col-md-3 col-sm-3">
                <h4>Regional Office:</h4>
                <address>
                    Decorum LLP,<br>
                    Upper Sichey, Gangtok,<br>
                    Sikkim – 737301
                </address>
            </div>
            <div class="col-md-2 col-sm-2">
                <ul>
                    <li>
                        <a href="{{ path('homepage') }}">Home</a>
                    </li>
                    <li>
                        <a href="#">Sikkim Tour</a>
                    </li>
                    <li><a href="#">Contact</a></li>
                </ul>
            </div>
        </div>
    </div>
    <div class="footer-bottom">
        <div class="container">
            <div class="row">
                <div class="col-xs-6">&copy; 2017 Decroum LLP All Rights Reserved </div>
                <div class="col-xs-6 text-right">
                </div>
            </div>
        </div>
    </div>
</footer>
{% block javascripts %}

    <script type="text/javascript" src="{{ asset('js/jquery-1.11.0.min.js') }}"></script>
    <script type="text/javascript" src="{{ asset('js/site.js') }}"></script>
    <script type="text/javascript" src="{{ asset('js/owl.carousel.min.js') }}"></script>
    <script type="text/javascript" src="{{ asset('js/jquery-ui-1.10.4.custom.min.js') }}"></script>
    <script type="text/javascript" src="{{ asset('js/jquery.sticky.js') }}"></script>
    <script type="text/javascript" src="{{ asset('js/jquery.forms.js') }}"></script>
    <script type="text/javascript" src="{{ asset('js/custom.js') }}"></script>
    <script type="text/javascript" src="{{ asset('js/enscroll-0.6.1.min.js') }}"></script>
    <script type="text/javascript">
        $('#reservationform').submit(function(e) {
            document.location = $(this).find('[name="room"]').val();

            e.preventDefault();
            return false;
        });
    </script>
{% endblock %}
<script type="text/javascript" async="async" defer="defer" data-cfasync="false" src="https://mylivechat.com/chatinline.aspx?hccid=30380767"></script>
</body>
</html>
