
    <div id="add">
        {% for key,val in adverts %}

            <div class="adverts img-wrap">
                <div id="owl-add" class="owl-carousel">
                    <div class="item">
                        <img src="{{ asset('uploads/adverts/'~ val) }}" alt="" class="img-responsive image">
                        <div class="middle">
                            {%  if key == 0 %}
                            <a href="{{ path('taxi_form') }}">
                                <div class="text">Explore Now</div>
                            </a>
                            {% else %}
                            <a href="{{ path('package_form') }}">
                                <div class="text">Explore Now</div>
                            </a>
                            {% endif %}
                        </div>
                    </div>
                </div>
            </div>
        {% endfor %}
        {#<div class="adverts img-wrap">#}
            {#<div id="owl-add" class="owl-carousel">#}
                {#<div class="item">#}
                {#<img src="{{ asset('img/adverts/AD1.jpg') }}" alt="" class="img-responsive image">#}
                {#<div class="middle">#}
                    {#<a href="{{ path('package_form') }}">#}
                        {#<div class="text">Explore Now</div>#}
                    {#</a>#}
                {#</div>#}
                {#</div>#}
                {#<div class="item">#}
                    {#<img src="{{ asset('img/adverts/AD2.jpg') }}" alt="" class="img-responsive image">#}
                    {#<div class="middle">#}
                        {#<a href="{{ path('package_form') }}">#}
                            {#<div class="text">Explore Now</div>#}
                        {#</a>#}
                    {#</div>#}
                {#</div>#}
                {#<div class="item">#}
                    {#<img src="{{ asset('img/adverts/AD3.jpg') }}" alt="" class="img-responsive image">#}
                    {#<div class="middle">#}
                        {#<a href="{{ path('package_form') }}">#}
                            {#<div class="text">Explore Now</div>#}
                        {#</a>#}
                    {#</div>#}
                {#</div>#}
            {#</div>#}
        {#</div>#}
        {#<div class="adverts img-wrap">#}
            {#<div id="owl-add" class="owl-carousel">#}
                {#<div class="item">#}
                    {#<img src="{{ asset('img/adverts/AD4.jpg') }}" alt="" class="img-responsive image">#}
                    {#<div class="middle">#}
                        {#<a href="{{ path('package_form') }}">#}
                            {#<div class="text">Explore Now</div>#}
                        {#</a>#}
                    {#</div>#}
                {#</div>#}
                {#<div class="item">#}
                    {#<img src="{{ asset('img/adverts/AD5.jpg') }}" alt="" class="img-responsive image">#}
                    {#<div class="middle">#}
                        {#<a href="{{ path('package_form') }}">#}
                            {#<div class="text">Explore Now</div>#}
                        {#</a>#}
                    {#</div>#}
                {#</div>#}
                {#<div class="item">#}
                    {#<img src="{{ asset('img/adverts/AD6.jpg') }}" alt="" class="img-responsive image">#}
                    {#<div class="middle">#}
                        {#<a href="{{ path('package_form') }}">#}
                            {#<div class="text">Explore Now</div>#}
                        {#</a>#}
                    {#</div>#}
                {#</div>#}
            {#</div>#}
        {#</div>#}
    </div>

