{% block body %}
    <div id="add">
        <div class="adverts img-wrap">
            <div id="owl-add" class="owl-carousel">
                <div class="item">
                <img src="{{ asset('img/adverts/AD1.jpg') }}" alt="" class="img-responsive image">
                <div class="middle">
                    <a href="{{ path('package_form') }}">
                        <div class="text">Explore Now</div>
                    </a>
                </div>
                </div>
                <div class="item">
                    <img src="{{ asset('img/adverts/AD2.jpg') }}" alt="" class="img-responsive image">
                    <div class="middle">
                        <a href="{{ path('package_form') }}">
                            <div class="text">Explore Now</div>
                        </a>
                    </div>
                </div>
                <div class="item">
                    <img src="{{ asset('img/adverts/AD3.jpg') }}" alt="" class="img-responsive image">
                    <div class="middle">
                        <a href="{{ path('package_form') }}">
                            <div class="text">Explore Now</div>
                        </a>
                    </div>
                </div>
            </div>
        </div>
        <div class="adverts img-wrap">
            <div id="owl-add" class="owl-carousel">
                <div class="item">
                    <img src="{{ asset('img/adverts/AD4.jpg') }}" alt="" class="img-responsive image">
                    <div class="middle">
                        <a href="{{ path('package_form') }}">
                            <div class="text">Explore Now</div>
                        </a>
                    </div>
                </div>
                <div class="item">
                    <img src="{{ asset('img/adverts/AD5.jpg') }}" alt="" class="img-responsive image">
                    <div class="middle">
                        <a href="{{ path('package_form') }}">
                            <div class="text">Explore Now</div>
                        </a>
                    </div>
                </div>
                <div class="item">
                    <img src="{{ asset('img/adverts/AD6.jpg') }}" alt="" class="img-responsive image">
                    <div class="middle">
                        <a href="{{ path('package_form') }}">
                            <div class="text">Explore Now</div>
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
