{% extends 'base.html.twig' %}
{% block title %}Hotels | Sikkim Rooms{% endblock %}
{% block body %}
    <div class="col-lg-9">
        {% if res is defined and res is not empty %}
            {% for var in res %}
                <div class="hotel-wrap">
                    <div id="hotel-listing">
                        <div class="col-lg-5 col-sm-6 row">
                            <div class="hotel-img">
                                <img src="{{ asset('uploads/hotels/'~ var.image) }}" alt="" class="img-responsive">
                                {#<span class="price"><i class="fa fa-rupee"></i>{{ var.rangeA }} - <i class="fa fa-rupee"></i>{{ var.rangeB }}</span>#}
                                <span class="price">Starts @ <i class="fa fa-rupee"></i>{{ var.rangeA }}</span>
                            </div>
                        </div>
                        <div class="col-lg-7 col-sm-6">
                            <div class="hotel-details">
                                <h3>{{ var.title }}</h3>
                                <span class="address">{{ var.address }}</span><br>
                                <span class="com">Email: {{ var.email }}</span><br>
                                <span class="contact"><strong>Call us : {{ var.phone }}</strong></span><br>
                                <span class="amenities">
                                {% for fa in var.amenities %}
                                    <i class="fa {{ fa }}" title=""></i>
                                {% endfor %}
                    </span>
                                <h5>
                                    <a href="{{ var.maplink }}"
                                       target="_blank" class="g-map"><img src="{{ asset('img/map.png') }}" alt=""> </a>
                                    Nearby
                                    Milestones
                                </h5>
                                <ul>
                                    {% for var in var.detail %}
                                        <li class="popover-icon" data-container="body" data-toggle="popover"
                                            data-trigger="hover"
                                            data-placement="top" data-content="{{ var.mtitle }}">
                                            <img src="{{ asset('uploads/milestones/'~var.path) }}" class="img-circle grow" alt="">
                                        </li>
                                    {% endfor %}
                                </ul>
                                <span class="more"><a href="http://{{ var.website }}"
                                                      target="_blank">CHECK-IN</a></span>
                                <i class="star star_{{ var.star }}"></i>
                            </div>
                        </div>
                    </div>

                    <div class="out-of-box">
                        <div class="review-wrap">
                            <i class="c-left"></i>
                        <div class="review">

                            <strong>Review</strong>
                            {{ var.likebutton|raw }}

                        </div>
                            <i class="c-right"></i>
                        </div>
                        <div class="share-wrap">
                            <i class="c-left"></i>
                        <div class="share">
                            Share
                            <i class="fa fa-share-alt"></i>
                            <span class="tip-content">
                                <a href="//www.facebook.com/sharer/sharer.php?u=http://{{ var.website }}" target="_blank"><i class="fa fa-facebook"></i></a>
                                <a href="//twitter.com/intent/tweet?text=Check+this+link&url=http://{{ var.website }}" target="_blank"><i class="fa fa-twitter"></i></a>
                                <a href="//plus.google.com/share?url={{ var.website }}" target="_blank"><i class="fa fa-google"></i></a>
                            </span>
                        </div>
                            <i class="c-right"></i>
                        </div>
                    </div>
                </div>
            {% endfor %}
        {% else %}
            <div class="noData">
            <h3 class="text-danger"><i class="glyphicon glyphicon-alert"></i> No Hotels Found !</h3>
            </div>
        {% endif %}
    </div>
    <div class="col-lg-3 hidden-sm hidden-xs">
        {#{{ include(':default:advert.html.twig') }}#}
        {{ render(controller('AppBundle:Default:advert')) }}
    </div>
{% endblock %}
{% block javascripts %}
    {{ parent() }}
    <script type="text/javascript" src="{{ asset('js/jquery-ui-1.10.4.custom.min.js') }}"></script>
    <script>
        $(document).ready(function() {
            $('.button_like').click(function(e)
            {
                var productID = $(this).attr('rel');
                var likeval = parseInt($("#likeBtn_"+productID).val(), 10);
                var unlikeval = parseInt($("#unlikeBtn_"+productID).val(), 10);
                var excellent = parseInt($("#excellentBtn_"+productID).val(), 10);
                $.post("{{ path('hotel_review') }}", {op:"average",pid: productID},function(data)
                {

                    likeval = likeval+1;
                    $("#likeBtn_"+productID).val(likeval);
                    $("#likeBtn_"+productID).attr("disabled", "disabled");
                    $("#unlikeBtn_"+productID).attr("disabled", "disabled");
                    $("#likeBtn_"+productID).css("background-image","url({{ asset('img/like.png') }})");
                    $("#unlikeBtn_"+productID).css("background-image","url({{ asset('img/likebw.png') }})");
                    $("#excellentBtn_"+productID).prop("disabled", "disabled");
                    $("#excellentBtn_"+productID).css("background-image","url({{ asset('img/likebw.png') }})");
//                    if(data == 1)
//                    {
//
//                    }
                    {#else if(data == 2)#}
                    {#{#}
                        {#excellent = excellent-1;#}
                        {#$("#excellentBtn_"+productID).val(excellent);#}
                        {#$("#excellentBtn_"+productID).prop("disabled", false);#}
                        {#$("#excellentBtn_"+productID).css("background-image","url({{ asset('img/likebw.png') }})");#}


                        {#likeval = likeval+1;#}
                        {#$("#linkeBtn_"+productID).val(likeval);#}
                        {#$("#linkeBtn_"+productID).attr("disabled", "disabled");#}
                        {#$("#linkeBtn_"+productID).css("background-image","url({{ asset('img/like.png') }})");#}
                    {#}#}
                    {#else if(data == 3)#}
                    {#{#}



                        {#likeval = likeval+1;#}

                        {#$("#linkeBtn_"+productID).val(likeval);#}
                        {#$("#linkeBtn_"+productID).attr("disabled", "disabled");#}
                        {#$("#linkeBtn_"+productID).css("background-image","url({{ asset('img/like.png') }})");#}

                    {#}#}
                })
            });
            $('.button_unlike').click(function(e)
            {
                var productID = $(this).attr('rel');
                var likeval = parseInt($("#likeBtn_"+productID).val(), 10);
                var unlikeval = parseInt($("#unlikeBtn_"+productID).val(), 10);
                var excellent = parseInt($("#excellentBtn_"+productID).val(), 10);
                $.post("{{ path('hotel_review') }}", {op:"good",pid: productID},function(data)
                {

                    unlikeval = unlikeval+1;
                    $("#unlikeBtn_"+productID).val(unlikeval);
                    $("#unlikeBtn_"+productID).attr("disabled", "disabled");
                    $("#likeBtn_"+productID).prop("disabled", "disabled");
                    $("#unlikeBtn_"+productID).css("background-image","url({{ asset('img/like.png') }})");
                    $("#likeBtn_"+productID).css("background-image","url({{ asset('img/likebw.png') }})");
                    $("#excellentBtn_" + productID).prop("disabled", "disabled");
                    $("#excellentBtn_"+productID).css("background-image","url({{ asset('img/likebw.png') }})");

                    {#if(data == 1)#}
                    {#{#}

                        {#unlikeval = unlikeval+1;#}
                        {#$("#unlinkeBtn_"+productID).val(unlikeval);#}
                        {#$("#unlinkeBtn_"+productID).attr("disabled", "disabled");#}
                        {#$("#linkeBtn_"+productID).css("background-image","url({{ asset('img/likebw.png') }})");#}
                        {#$("#excellentBtn_"+productID).css("background-image","url({{ asset('img/likebw.png') }})");#}
                    {#}#}
                    {#else if(data == 2)#}
                    {#{#}


                        {#excellent = excellent - 1;#}
                        {#$("#excellentBtn_" + productID).val(excellent);#}

                        {#unlikeval = unlikeval+1;#}
                        {#$("#unlinkeBtn_"+productID).val(unlikeval);#}
                        {#$("#unlinkeBtn_"+productID).attr("disabled", "disabled");#}
                        {#$("#unlinkeBtn_"+productID).css("background-image","url({{ asset('img/like.png') }})");#}
                    {#}#}
                    {#else if(data == 3) {#}

                        {#excellent = excellent - 1;#}
                        {#$("#excellentBtn_" + productID).val(excellent);#}
                        {#$("#excellentBtn_" + productID).prop("disabled", false);#}
                        {#$("#excellentBtn_" + productID).css("background-image", "url({{ asset('img/likebw.png') }})");#}


                        {#unlikeval = unlikeval + 1;#}
                        {#$("#unlinkeBtn_" + productID).val(unlikeval);#}
                        {#$("#unlinkeBtn_" + productID).attr("disabled", "disabled");#}
                        {#$("#unlinkeBtn_" + productID).css("background-image", "url({{ asset('img/like.png') }})");#}
                    {#}#}

                })
            });
            $('.button_excellent').click(function(e)
            {
                event.preventDefault(e)
                var productID = $(this).attr('rel');
                var likeval = parseInt($("#likeBtn_"+productID).val(), 10);
                var unlikeval = parseInt($("#unlikeBtn_"+productID).val(), 10);
                var excellent = parseInt($("#excellentBtn_"+productID).val(), 10);
                $.post("{{ path('hotel_review') }}", {op:"excellent",pid: productID},function(data)
                {
                    excellent = excellent+1;
                    $("#excellentBtn_"+productID).val(excellent);
                    $("#excellentBtn_"+productID).attr("disabled", "disabled");
                    $("#excellentBtn_"+productID).css("background-image","url({{ asset('img/like.png') }})");
                    $("#likeBtn_"+productID).prop("disabled", "disabled");
                    $("#likeBtn_"+productID).css("background-image","url({{ asset('img/likebw.png') }})");
                    $("#unlikeBtn_"+productID).prop("disabled", "disabled");
                    $("#unlikeBtn_"+productID).css("background-image","url({{ asset('img/likebw.png') }})");
                    {#if(data == 1)#}
                    {#{#}

                        {#excellent = excellent+1;#}
                        {#$("#excellentBtn_"+productID).val(excellent);#}
                        {#$("#excellentBtn_"+productID).attr("disabled", "disabled");#}
                        {#$("#linkeBtn_"+productID).css("background-image","url({{ asset('img/likebw.png') }})");#}
                        {#$("#uninkeBtn_"+productID).css("background-image","url({{ asset('img/likebw.png') }})");#}
                    {#}#}
                    {#else if(data == 2)#}
                    {#{#}
                        {#unlikeval = unlikeval-1;#}
                        {#$("#unlikeBtn_"+productID).val(unlikeval);#}
                        {#$("#unlikeBtn_"+productID).prop("disabled", false);#}
                        {#$("#unlinkeBtn_"+productID).css("background-image","url({{ asset('img/likebw.png') }})");#}



                        {#excellent = excellent+1;#}
                        {#$("#excellentBtn_"+productID).val(excellent);#}
                        {#$("#excellentBtn_"+productID).attr("disabled", "disabled");#}
                        {#$("#excellentBtn_"+productID).css("background-image","url({{ asset('img/like.png') }})");#}
                    {#}#}
                    {#else if(data == 3)#}
                    {#{#}

                        {#likeval = likeval-1;#}
                        {#$("#likevalBtn_"+productID).val(likeval);#}
                        {#$("#likevalBtn_"+productID).prop("disabled", false);#}
                        {#$("#likevalBtn_"+productID).css("background-image","url({{ asset('img/likebw.png') }})");#}

                        {#excellent = excellent+1;#}
                        {#$("#excellentBtn_"+productID).val(excellent);#}
                        {#$("#excellentBtn_"+productID).attr("disabled", "disabled");#}
                        {#$("#excellentBtn_"+productID).css("background-image","url({{ asset('img/like.png') }})");#}
                    {#}#}
                })
            });
        });
    </script>
    <script>
        $(document).ready(function () {
            // Handler for .ready() called.
            if ($(window).width() <= 480) {
                $('html, body').animate({
                    scrollTop: $('#main-content').offset().top
                }, 'slow');
            }
        });
    </script>
{% endblock %}
