{% extends 'base.html.twig' %}
{% block body %}
    <div class="col-lg-9">
        <div id="hotel-listing">
            <div class="col-lg-5 col-sm-6 row">
                <div class="hotel-img">
                    <img src="{{ asset('img/listing/gangtok1.jpg') }}" alt="" class="img-responsive">
                    <span class="price">&#x20b9;2000 - &#x20b9;7000</span>
                </div>
            </div>
            <div class="col-lg-7 col-sm-6">
                <div class="hotel-details">
                    <h3>Hotel Rainbow</h3>
                    <span class="address">Lower Arithang Near Radio Quarter Above K-Mart</span><br>
                    <span class="com">Email: info@hotelrainbowgangtok.com / www.hotelrainbowgangtok.com</span><br>
                    <span class="contact"><strong>Call us : 03592207653 / 9635256871 / 8900316580</strong></span><br>
                    <span class="amenities">
                        <i class="fa fa-wifi" title="Wifi"></i>
                        <i class="fa fa-cab" title="Cab Services"></i>
                        <i class="fa fa-plane" title="Travel Desk"></i>
                        <i class="fa fa-file-video-o" title="CCTV"></i>
                        <i class="fa fa-medkit" title="Dr. on call"></i>
                        <i class="fa fa-plug" title="Power Backup"></i>
                    </span>
                    <h5>
                        <a href="https://www.google.co.in/maps/place/27%C2%B019'51.1%22N+88%C2%B036'35.6%22E/@27.3308777,88.6077043,17z/data=!3m1!4b1!4m5!3m4!1s0x0:0x0!8m2!3d27.330873!4d88.609893"
                           target="_blank" class="g-map"><img src="{{ asset('img/map.png') }}" alt=""> </a> Nearby
                        Milestones
                    </h5>
                    <ul>
                        <li class="popover-icon" data-container="body" data-toggle="popover" data-trigger="hover"
                            data-placement="top" data-content="MG. Marg">
                            <img src="{{ asset('img/destination/gtk1.jpeg') }}" class="img-circle grow" alt=""></li>
                        <li class="popover-icon" data-container="body" data-toggle="popover" data-trigger="hover"
                            data-placement="top" data-content="Ropeway"><img
                                    src="{{ asset('img/destination/gtk2.jpeg') }}"
                                    class="img-circle grow" alt=""></li>
                        <li class="popover-icon" data-container="body" data-toggle="popover" data-trigger="hover"
                            data-placement="top" data-content="Lal Market"><img
                                    src="{{ asset('img/destination/gtk3.jpeg') }}"
                                    class="img-circle grow" alt=""></li>
                    </ul>
                    <span class="more"><a href="http://www.hotelrainbowgangtok.com" target="_blank">read more</a></span>
                    <img src="{{ asset('img/4star.png') }}" alt="rating" class="star">
                </div>
            </div>
        </div>
        <div id="hotel-listing">
            <div class="col-lg-5 col-sm-6 row">
                <div class="hotel-img">
                    <img src="{{ asset('img/listing/gangtok2.jpg') }}" alt="" class="img-responsive">
                    <span class="price">&#x20b9;2000 - &#x20b9;6000</span>
                </div>
            </div>
            <div class="col-lg-7 col-sm-6">
                <div class="hotel-details">
                    <h3>Cannan Hotel</h3>
                    <span class="address">Kazi Road Gangtok Sikkim	 </span><br>
                    <span class="com">Email: cannan.ujjal@yahoo.com	</span><br>
                    <span class="contact"><strong>Call us : 9734947493 / 9832385092</strong></span><br>
                    <span class="amenities">
                        <i class="fa fa-cab" title="Cab Services"></i>
                        <i class="fa fa-plane" title="Travel Desk"></i>
                        <i class="fa fa-file-video-o" title="CCTV"></i>
                        <i class="fa fa-medkit" title="Dr. on call"></i>
                        <i class="fa fa-plug" title="Power Backup"></i>
                    </span>
                    <h5>
                        <a href="https://www.google.co.in/maps/place/27%C2%B019'37.8%22N+88%C2%B036'46.9%22E/@27.3271767,88.6108363,17z/data=!3m1!4b1!4m5!3m4!1s0x0:0x0!8m2!3d27.327172!4d88.613025"
                           target="_blank" class="g-map"><img src="{{ asset('img/map.png') }}" alt=""> </a> Nearby
                        Milestones
                    </h5>
                    <ul>
                        <li class="popover-icon" data-container="body" data-toggle="popover" data-trigger="hover"
                            data-placement="top" data-content="MG. Marg">
                            <img src="{{ asset('img/destination/gtk1.jpeg') }}" class="img-circle grow" alt=""></li>
                        <li class="popover-icon" data-container="body" data-toggle="popover" data-trigger="hover"
                            data-placement="top" data-content="Ropeway"><img
                                    src="{{ asset('img/destination/gtk2.jpeg') }}"
                                    class="img-circle grow" alt=""></li>
                        <li class="popover-icon" data-container="body" data-toggle="popover" data-trigger="hover"
                            data-placement="top" data-content="White Hall"><img
                                    src="{{ asset('img/destination/gtk4.jpeg') }}"
                                    class="img-circle grow" alt=""></li>
                    </ul>
                    <span class="more"><a href="#" target="_blank">read more</a></span>
                    <img src="{{ asset('img/3star.png') }}" alt="rating" class="star">
                </div>
            </div>
        </div>
        <div id="hotel-listing">
            <div class="col-lg-5 col-sm-6 row">
                <div class="hotel-img">
                    <img src="{{ asset('img/listing/gangtok3.jpg') }}" alt="" class="img-responsive">
                    <span class="price">&#x20b9;2400 - &#x20b9;4000</span>
                </div>
            </div>
            <div class="col-lg-7 col-sm-6">
                <div class="hotel-details">
                    <h3>Hotel Sagorika</h3>
                    <span class="address">Upper Arithang Gangtok Sikkim</span><br>
                    <span class="com">Email: hotelsagorika@gmail.com / www.hotelsagorika.com</span><br>
                    <span class="contact"><strong>Call us : 9830513208 / 8509909990	 </strong></span><br>
                    <span class="amenities">
                        <i class="fa fa-wifi" title="Wifi"></i>
                        <i class="fa fa-cab" title="Cab Services"></i>
                        <i class="fa fa-plane" title="Travel Desk"></i>
                        <i class="fa fa-file-video-o" title="CCTV"></i>
                        <i class="fa fa-shopping-basket" title="Lundary"></i>
                    </span>
                    <h5>
                        <a href="https://www.google.co.in/maps/place/27%C2%B019'44.5%22N+88%C2%B036'39.5%22E/@27.3290297,88.6087883,17z/data=!4m5!3m4!1s0x0:0x0!8m2!3d27.329025!4d88.610977"
                           target="_blank" class="g-map"><img src="{{ asset('img/map.png') }}" alt=""> </a> Nearby
                        Milestones
                    </h5>
                    <ul>
                        <li class="popover-icon" data-container="body" data-toggle="popover" data-trigger="hover"
                            data-placement="top" data-content="MG. Marg">
                            <img src="{{ asset('img/destination/gtk1.jpeg') }}" class="img-circle grow" alt=""></li>
                        <li class="popover-icon" data-container="body" data-toggle="popover" data-trigger="hover"
                            data-placement="top" data-content="Ropeway"><img
                                    src="{{ asset('img/destination/gtk2.jpeg') }}"
                                    class="img-circle grow" alt=""></li>
                        <li class="popover-icon" data-container="body" data-toggle="popover" data-trigger="hover"
                            data-placement="top" data-content="Lal Market"><img
                                    src="{{ asset('img/destination/gtk3.jpeg') }}"
                                    class="img-circle grow" alt=""></li>
                    </ul>
                    <span class="more"><a href="http://www.hotelsagorika.com" target="_blank">read more</a></span>
                    <img src="{{ asset('img/3star.png') }}" alt="rating" class="star">
                </div>
            </div>
        </div>
        <div id="hotel-listing">
            <div class="col-lg-5 col-sm-6 row">
                <div class="hotel-img">
                    <img src="{{ asset('img/listing/gangtok4.jpg') }}" alt="" class="img-responsive">
                    <span class="price">&#x20b9;2500 - &#x20b9;4500</span>
                </div>
            </div>
            <div class="col-lg-7 col-sm-6">
                <div class="hotel-details">
                    <h3>Dilchen Residency</h3>
                    <span class="address">Tamang Gumpa District Court Road Gangtok Sikkim</span><br>
                    <span class="com">Email: woodstockhospitality@gmail.com	/ www.dilchenresidency.com</span><br>
                    <span class="contact"><strong>Call us : 9871177477 / 8637372223	 </strong></span><br>
                    <span class="amenities">

                        <i class="fa fa-wifi" title="Wifi"></i>
                        <i class="fa fa-cab" title="Cab Services"></i>
                        <i class="fa fa-plane" title="Travel Desk"></i>
                        <i class="fa fa-file-video-o" title="CCTV"></i>
                        <i class="fa fa-medkit" title="Dr. on call"></i>
                    </span>
                    <h5>
                        <a href="https://www.google.co.in/maps/place/27%C2%B020'21.8%22N+88%C2%B036'29.4%22E/@27.3394047,88.6059913,17z/data=!4m5!3m4!1s0x0:0x0!8m2!3d27.3394!4d88.60818"
                           target="_blank" class="g-map"><img src="{{ asset('img/map.png') }}" alt=""> </a> Nearby
                        Milestones
                    </h5>
                    <ul>
                        <li class="popover-icon" data-container="body" data-toggle="popover" data-trigger="hover"
                            data-placement="top" data-content="MG. Marg">
                            <img src="{{ asset('img/destination/gtk1.jpeg') }}" class="img-circle grow" alt=""></li>
                        <li class="popover-icon" data-container="body" data-toggle="popover" data-trigger="hover"
                            data-placement="top" data-content="Ropeway"><img
                                    src="{{ asset('img/destination/gtk2.jpeg') }}"
                                    class="img-circle grow" alt=""></li>
                        <li class="popover-icon" data-container="body" data-toggle="popover" data-trigger="hover"
                            data-placement="top" data-content="Lal Market"><img
                                    src="{{ asset('img/destination/gtk3.jpeg') }}"
                                    class="img-circle grow" alt=""></li>
                    </ul>
                    <span class="more"><a href="http://www.dilchenresidency.com" target="_blank">read more</a></span>
                    <img src="{{ asset('img/3star.png') }}" alt="rating" class="star">
                </div>
            </div>
        </div>
        <div id="hotel-listing">
            <div class="col-lg-5 col-sm-6 row">
                <div class="hotel-img">
                    <img src="{{ asset('img/listing/gangtok5.jpg') }}" alt="" class="img-responsive">
                    <span class="price">&#x20b9;1300 - &#x20b9;3000</span>
                </div>
            </div>
            <div class="col-lg-7 col-sm-6">
                <div class="hotel-details">
                    <h3>Hotel Versay Residency</h3>
                    <span class="address">Uppersichey,district cour road Gangtok Sikkim</span><br>
                    <span class="com">Email: samitamrita@gmail.com / www.hotelversayregency.com</span><br>
                    <span class="contact"><strong>Call us : 9007325715</strong></span><br>
                    <span class="amenities">
                        <i class="fa fa-wifi" title="Wifi"></i>
                        <i class="fa fa-cab" title="Cab Services"></i>
                        <i class="fa fa-coffee" title="Room Service"></i>
                        <i class="fa fa-plane" title="Travel Desk"></i>
                        <i class="fa fa-file-video-o" title="CCTV"></i>
                        <i class="fa fa-medkit" title="Dr. on call"></i>
                        <i class="fa fa-plug" title="Power Backup"></i>
                    </span>
                    <h5>
                        <a href="https://www.google.co.in/maps/place/27%C2%B020'32.9%22N+88%C2%B036'22.6%22E/@27.3424767,88.604083,17z/data=!3m1!4b1!4m5!3m4!1s0x0:0x0!8m2!3d27.342472!4d88.606277"
                           target="_blank" class="g-map"><img src="{{ asset('img/map.png') }}" alt=""> </a> Nearby
                        Milestones
                    </h5>
                    <ul>
                        <li class="popover-icon" data-container="body" data-toggle="popover" data-trigger="hover"
                            data-placement="top" data-content="MG. Marg">
                            <img src="{{ asset('img/destination/gtk1.jpeg') }}" class="img-circle grow" alt=""></li>
                        <li class="popover-icon" data-container="body" data-toggle="popover" data-trigger="hover"
                            data-placement="top" data-content="Ropeway"><img
                                    src="{{ asset('img/destination/gtk2.jpeg') }}"
                                    class="img-circle grow" alt=""></li>
                        <li class="popover-icon" data-container="body" data-toggle="popover" data-trigger="hover"
                            data-placement="top" data-content="White Hall"><img
                                    src="{{ asset('img/destination/gtk4.jpeg') }}"
                                    class="img-circle grow" alt=""></li>
                    </ul>
                    <span class="more"><a href="http://www.hotelversayregency.com	 " target="_blank">read more</a></span>
                    <img src="{{ asset('img/4star.png') }}" alt="rating" class="star">
                </div>
            </div>
        </div>
        <div id="hotel-listing">
            <div class="col-lg-5 col-sm-6 row">
                <div class="hotel-img">
                    <img src="{{ asset('img/listing/gangtok6.jpg') }}" alt="" class="img-responsive">
                    <span class="price">&#x20b9;1800 - &#x20b9;2200</span>
                </div>
            </div>
            <div class="col-lg-7 col-sm-6">
                <div class="hotel-details">
                    <h3>Leo International</h3>
                    <span class="address">Dr. B.R Ambedkar road, upper sichey Gangtok Sikkim</span><br>
                    <span class="com">Email: akashudyog@yahoo.com	  / www.hotelleointernational.com	 	 </span><br>
                    <span class="contact"><strong>Call us : 810028022 / 9800005253</strong></span><br>
                    <span class="amenities">

                        <i class="fa fa-wifi" title="Wifi"></i>
                        <i class="fa fa-cab" title="Cab Services"></i>
                        <i class="fa fa-plane" title="Travel Desk"></i>
                        <i class="fa fa-file-video-o" title="CCTV"></i>
                        <i class="fa fa-medkit" title="Dr. on call"></i>
                    </span>
                    <h5>
                        <a href="https://www.google.co.in/maps/place/27%C2%B020'30.2%22N+88%C2%B036'26.9%22E/@27.3417157,88.605291,17z/data=!3m1!4b1!4m5!3m4!1s0x0:0x0!8m2!3d27.341711!4d88.607485"
                           target="_blank" class="g-map"><img src="{{ asset('img/map.png') }}" alt=""> </a> Nearby
                        Milestones
                    </h5>
                    <ul>
                        <li class="popover-icon" data-container="body" data-toggle="popover" data-trigger="hover"
                            data-placement="top" data-content="MG. Marg">
                            <img src="{{ asset('img/destination/gtk1.jpeg') }}" class="img-circle grow" alt=""></li>
                        <li class="popover-icon" data-container="body" data-toggle="popover" data-trigger="hover"
                            data-placement="top" data-content="Ropeway"><img
                                    src="{{ asset('img/destination/gtk2.jpeg') }}"
                                    class="img-circle grow" alt=""></li>
                        <li class="popover-icon" data-container="body" data-toggle="popover" data-trigger="hover"
                            data-placement="top" data-content="White Hall"><img
                                    src="{{ asset('img/destination/gtk4.jpeg') }}"
                                    class="img-circle grow" alt=""></li>
                    </ul>
                    <span class="more"><a href="www.hotelleointernational.com" target="_blank">read more</a></span>
                    <img src="{{ asset('img/4star.png') }}" alt="rating" class="star">
                </div>
            </div>
        </div>
        <div id="hotel-listing">
            <div class="col-lg-5 col-sm-6 row">
                <div class="hotel-img">
                    <img src="{{ asset('img/listing/gangtok7.jpg') }}" alt="" class="img-responsive">
                    <span class="price">&#x20b9;2400 - &#x20b9;6000</span>
                </div>
            </div>
            <div class="col-lg-7 col-sm-6">
                <div class="hotel-details">
                    <h3>Suhim Portico</h3>
                    <span class="address">Helipad Road, Near DAC, Upper Sichey, Gangtok, Sikkim</span><br>
                    <span class="com">Email: suhim.sikkim@gmail.com	 / www.suhimportico.com	 </span><br>
                    <span class="contact"><strong>Call us : 91 03592 284095 / 284234	 </strong></span><br>
                    <span class="amenities">

                        <i class="fa fa-wifi" title="Wifi"></i>
                        <i class="fa fa-coffee" title="Room Service"></i>
                        <i class="fa fa-file-video-o" title="CCTV"></i>
                        <i class="fa fa-medkit" title="Dr. on call"></i>
                        <i class="fa fa-shopping-basket" title="Lundary"></i>
                        <i class="fa fa-cutlery" title="Food"></i>

                    </span>
                    <h5><a href="#" target="_blank" class="g-map"><img src="{{ asset('img/map.png') }}" alt=""> </a>
                        Nearby Milestones
                    </h5>
                    <ul>
                        <li class="popover-icon" data-container="body" data-toggle="popover" data-trigger="hover"
                            data-placement="top" data-content="Ban Jhakari Falls">
                            <img src="{{ asset('img/destination/gtk5.jpg') }}" class="img-circle grow" alt=""></li>
                        <li class="popover-icon" data-container="body" data-toggle="popover" data-trigger="hover"
                            data-placement="top" data-content="Tashi View Point"><img
                                    src="{{ asset('img/destination/gtk6.jpeg') }}"
                                    class="img-circle grow" alt=""></li>

                    </ul>
                    <span class="more"><a href="http://www.suhimportico.com" target="_blank">read more</a></span>
                    <img src="{{ asset('img/4star.png') }}" alt="rating" class="star">
                </div>
            </div>
        </div>
        <div id="hotel-listing">
            <div class="col-lg-5 col-sm-6 row">
                <div class="hotel-img">
                    <img src="{{ asset('img/listing/gangtok8.jpg') }}" alt="" class="img-responsive">
                    <span class="price">&#x20b9;4000 - &#x20b9;8000</span>
                </div>
            </div>
            <div class="col-lg-7 col-sm-6">
                <div class="hotel-details">
                    <h3>Tara Palace</h3>
                    <span class="address">Nam-Nang Road, Gangtok, Sikkim	 	 </span><br>
                    <span class="com">Email: hoteltarapalacegangtok@gmail.com</span><br>
                    <span class="contact"><strong>Call us : 91 8101798587 / 8609886113	 	 </strong></span><br>
                    <span class="amenities">
                        <i class="fa fa-wifi" title="Wifi"></i>
                        <i class="fa fa-cab" title="Cab Service"></i>
                        <i class="fa fa-file-video-o" title="CCTV"></i>
                        <i class="fa fa-medkit" title="Dr. on call"></i>
                        <i class="fa fa-plane" title="Travel Desk"></i>
                    </span>
                    <h5><a href="#" target="_blank" class="g-map"><img src="{{ asset('img/map.png') }}" alt=""> </a>
                        Nearby Milestones
                    </h5>
                    <ul>
                        <li class="popover-icon" data-container="body" data-toggle="popover" data-trigger="hover"
                            data-placement="top" data-content="MG Marg">
                            <img src="{{ asset('img/destination/gtk1.jpeg') }}" class="img-circle grow" alt=""></li>
                        <li class="popover-icon" data-container="body" data-toggle="popover" data-trigger="hover"
                            data-placement="top" data-content="Ropeway"><img
                                    src="{{ asset('img/destination/gtk2.jpeg') }}"
                                    class="img-circle grow" alt=""></li>
                        <li class="popover-icon" data-container="body" data-toggle="popover" data-trigger="hover"
                            data-placement="top" data-content="Big Bazaar"><img
                                    src="{{ asset('img/destination/gtk7.jpeg') }}"
                                    class="img-circle grow" alt=""></li>

                    </ul>
                    <span class="more"><a href="http://www.tarapalacegangtok.com" target="_blank">read more</a></span>
                    <img src="{{ asset('img/4star.png') }}" alt="rating" class="star">
                </div>
            </div>
        </div>
        <div id="hotel-listing">
            <div class="col-lg-5 col-sm-6 row">
                <div class="hotel-img">
                    <img src="{{ asset('img/listing/gangtok9.jpg') }}" alt="" class="img-responsive">
                    <span class="price">&#x20b9;2200 - &#x20b9;6000</span>
                </div>
            </div>
            <div class="col-lg-7 col-sm-6">
                <div class="hotel-details">
                    <h3>The Bamboo Retreat</h3>
                    <span class="address">Rumtek, Gangtok, Sikkim	 </span><br>
                    <span class="com">Email: reservations.bambooretreat@gmail.com	 	 	</span><br>
                    <span class="contact"><strong>Call us : 91 03592 252516 / 9434382036 / 9832079320	 	 	 </strong></span><br>
                    <span class="amenities">
                        <i class="fa fa-plane" title="Travel Desk"></i>
                        <i class="fa fa-medkit" title="Dr. on call"></i>
                        <i class="fa fa-cutlery" title="Food"></i>
                    </span>
                    <h5><a href="#" target="_blank" class="g-map"><img src="{{ asset('img/map.png') }}" alt=""> </a>
                        Nearby Milestones
                    </h5>
                    <ul>
                        <li class="popover-icon" data-container="body" data-toggle="popover" data-trigger="hover"
                            data-placement="top" data-content="Rumtek Monastery">
                            <img src="{{ asset('img/destination/rumtek-monastery.jpeg') }}" class="img-circle grow" alt=""></li>
                        <li class="popover-icon" data-container="body" data-toggle="popover" data-trigger="hover"
                            data-placement="top" data-content="Mayfair Casino"><img
                                    src="{{ asset('img/destination/mayfair-casino.jpeg') }}"
                                    class="img-circle grow" alt=""></li>

                    </ul>
                    <span class="more"><a href="http://www.bambooretreat.in" target="_blank">read more</a></span>
                    <img src="{{ asset('img/3star.png') }}" alt="rating" class="star">
                </div>
            </div>
        </div>
        <div id="hotel-listing">
            <div class="col-lg-5 col-sm-6 row">
                <div class="hotel-img">
                    <img src="{{ asset('img/listing/gangtok10.jpg') }}" alt="" class="img-responsive">
                    <span class="price">&#x20b9;2500 - &#x20b9;4500</span>
                </div>
            </div>
            <div class="col-lg-7 col-sm-6">
                <div class="hotel-details">
                    <h3>The Silk Route Residency</h3>
                    <span class="address">Below Sher-e-Punjab Hotel, Arithang Road, Gangtok, Sikkim</span><br>
                    <span class="com">Email: silkrouteresidencygangtok@gmail.com</span><br>
                    <span class="contact"><strong>Call us : 91 3592 206789 / 8145156137 / 9647786984	 	 	 </strong></span><br>
                    <span class="amenities">
                        <i class="fa fa-wifi" title="Wifi"></i>
                        <i class="fa fa-cab" title="Cab Service"></i>
                        <i class="fa fa-file-video-o" title="CCTV"></i>
                        <i class="fa fa-medkit" title="Dr. on call"></i>
                        <i class="fa fa-plane" title="Travel Desk"></i>
                    </span>
                    <h5><a href="#" target="_blank" class="g-map"><img src="{{ asset('img/map.png') }}" alt=""> </a>
                        Nearby Milestones
                    </h5>
                    <ul>
                        <li class="popover-icon" data-container="body" data-toggle="popover" data-trigger="hover"
                            data-placement="top" data-content="MG Marg">
                            <img src="{{ asset('img/destination/gtk1.jpeg') }}" class="img-circle grow" alt=""></li>
                        <li class="popover-icon" data-container="body" data-toggle="popover" data-trigger="hover"
                            data-placement="top" data-content="Ropeway"><img
                                    src="{{ asset('img/destination/gtk2.jpeg') }}"
                                    class="img-circle grow" alt=""></li>

                    </ul>
                    <span class="more"><a href="http://www.bambooretreat.in" target="_blank">read more</a></span>
                    <img src="{{ asset('img/3star.png') }}" alt="rating" class="star">
                </div>
            </div>
        </div>
        <div id="hotel-listing">
            <div class="col-lg-5 col-sm-6 row">
                <div class="hotel-img">
                    <img src="{{ asset('img/listing/gangtok11.jpg') }}" alt="" class="img-responsive">
                    <span class="price">&#x20b9;1200 - &#x20b9;4200</span>
                </div>
            </div>
            <div class="col-lg-7 col-sm-6">
                <div class="hotel-details">
                    <h3>Hotel Misty Oak</h3>
                    <span class="address">Middle Arithang, Opposite Arithang Monastery, Gangtok, Sikkim</span><br>
                    <span class="com">Email: mistyoak1977@gmail.com	/ www.mistyoak.in</span><br>
                    <span class="contact"><strong>Call us : 91 3592 201527 / 9477466396 / 8972729358</strong></span><br>
                    <span class="amenities">
                        <i class="fa fa-wifi" title="Wifi"></i>
                        <i class="fa fa-cab" title="Cab Service"></i>
                        <i class="fa fa-file-video-o" title="CCTV"></i>
                        <i class="fa fa-medkit" title="Dr. on call"></i>
                        <i class="fa fa-cutlery" title="Food"></i>
                        <i class="fa fa-plane" title="Travel Desk"></i>
                    </span>
                    <h5><a href="#" target="_blank" class="g-map"><img src="{{ asset('img/map.png') }}" alt=""> </a>
                        Nearby Milestones
                    </h5>
                    <ul>
                        <li class="popover-icon" data-container="body" data-toggle="popover" data-trigger="hover"
                            data-placement="top" data-content="MG Marg">
                            <img src="{{ asset('img/destination/gtk1.jpeg') }}" class="img-circle grow" alt=""></li>


                    </ul>
                    <span class="more"><a href="http://www.mistyoak.in" target="_blank">read more</a></span>
                    <img src="{{ asset('img/4star.png') }}" alt="rating" class="star">
                </div>
            </div>
        </div>
        <div id="hotel-listing">
            <div class="col-lg-5 col-sm-6 row">
                <div class="hotel-img">
                    <img src="{{ asset('img/listing/gangtok12.jpg') }}" alt="" class="img-responsive">
                    <span class="price">&#x20b9;3000 - &#x20b9;8000</span>
                </div>
            </div>
            <div class="col-lg-7 col-sm-6">
                <div class="hotel-details">
                    <h3>Yarlam Portico</h3>
                    <span class="address">Gangtok, Sikkim</span><br>
                    <span class="com">Email: yarlamportico@gmail.com / www.yarlamresort.com</span><br>
                    <span class="contact"><strong>Call us : 91 3952231059 / 91 9434330031	 	 </strong></span><br>
                    <span class="amenities">
                        <i class="fa fa-wifi" title="Wifi"></i>
                        <i class="fa fa-cab" title="Cab Service"></i>
                        <i class="fa fa-file-video-o" title="CCTV"></i>
                        <i class="fa fa-medkit" title="Dr. on call"></i>
                        <i class="fa fa-cutlery" title="Food"></i>
                        <i class="fa fa-plane" title="Travel Desk"></i>
                    </span>
                    <h5><a href="#" target="_blank" class="g-map"><img src="{{ asset('img/map.png') }}" alt=""> </a>
                        Nearby Milestones
                    </h5>
                    <ul>
                        <li class="popover-icon" data-container="body" data-toggle="popover" data-trigger="hover"
                            data-placement="top" data-content="Rumtek Monastery">
                            <img src="{{ asset('img/destination/rumtek-monastery.jpeg') }}" class="img-circle grow" alt=""></li>


                    </ul>
                    <span class="more"><a href="http://www.yarlamresort.com" target="_blank">read more</a></span>
                    <img src="{{ asset('img/4star.png') }}" alt="rating" class="star">
                </div>
            </div>
        </div>
        <div id="hotel-listing">
            <div class="col-lg-5 col-sm-6 row">
                <div class="hotel-img">
                    <img src="{{ asset('img/listing/gangtok13.jpg') }}" alt="" class="img-responsive">
                    <span class="price">&#x20b9;2000 - &#x20b9;6000</span>
                </div>
            </div>
            <div class="col-lg-7 col-sm-6">
                <div class="hotel-details">
                    <h3>Comfort Inn</h3>
                    <span class="address">Tadong, Gairi Gaon, Gangtok, Sikkim	 	 </span><br>
                    <span class="com">Email: gangtok@comfortinngroup.com / www.comfortinnsikkim.com	 	  </span><br>
                    <span class="contact"><strong>Call us : 91 9832655623 / 8016690745	 	 </strong></span><br>
                    <span class="amenities">
                        <i class="fa fa-wifi" title="Wifi"></i>
                        <i class="fa fa-cab" title="Cab Service"></i>
                        <i class="fa fa-file-video-o" title="CCTV"></i>
                        <i class="fa fa-medkit" title="Dr. on call"></i>
                        <i class="fa fa-cutlery" title="Food"></i>
                        <i class="fa fa-plane" title="Travel Desk"></i>
                    </span>
                    <h5><a href="#" target="_blank" class="g-map"><img src="{{ asset('img/map.png') }}" alt=""> </a>
                        Nearby Milestones
                    </h5>
                    <ul>
                        <li class="popover-icon" data-container="body" data-toggle="popover" data-trigger="hover"
                            data-placement="top" data-content="Rumtek Monastery">
                            <img src="{{ asset('img/destination/rumtek-monastery.jpeg') }}" class="img-circle grow" alt=""></li>


                    </ul>
                    <span class="more"><a href="http://www.comfortinnsikkim.com" target="_blank">read more</a></span>
                    <img src="{{ asset('img/4star.png') }}" alt="rating" class="star">
                </div>
            </div>
        </div>
        <div id="hotel-listing">
            <div class="col-lg-5 col-sm-6 row">
                <div class="hotel-img">
                    <img src="{{ asset('img/listing/gangtok14.jpeg') }}" alt="" class="img-responsive">
                    <span class="price">&#x20b9;2000 - &#x20b9;4000</span>
                </div>
            </div>
            <div class="col-lg-7 col-sm-6">
                <div class="hotel-details">
                    <h3>Bamboo Grove Retreat</h3>
                    <span class="address">Kazi Road, Gangtok, Sikkim	 </span><br>
                    <span class="com">Email: bamboogroove@outlook.com	 	  / www.bamboogroove.com	 </span><br>
                    <span class="contact"><strong>Call us : 91 9832073429 / 8016096310	 	 </strong></span><br>
                    <span class="amenities">
                        <i class="fa fa-wifi" title="Wifi"></i>
                        <i class="fa fa-cab" title="Cab Service"></i>
                        <i class="fa fa-file-video-o" title="CCTV"></i>
                        <i class="fa fa-medkit" title="Dr. on call"></i>
                        <i class="fa fa-cutlery" title="Food"></i>
                        <i class="fa fa-plane" title="Travel Desk"></i>
                    </span>
                    <h5><a href="#" target="_blank" class="g-map"><img src="{{ asset('img/map.png') }}" alt=""> </a>
                        Nearby Milestones
                    </h5>
                    <ul>
                        <li class="popover-icon" data-container="body" data-toggle="popover" data-trigger="hover"
                            data-placement="top" data-content="White Hall">
                            <img src="{{ asset('img/destination/gtk4.jpeg') }}" class="img-circle grow" alt=""></li>
                        <li class="popover-icon" data-container="body" data-toggle="popover" data-trigger="hover"
                            data-placement="top" data-content="Ropeway">
                            <img src="{{ asset('img/destination/gtk2.jpeg') }}" class="img-circle grow" alt=""></li>


                    </ul>
                    <span class="more"><a href="http://www.bamboogroove.com" target="_blank">read more</a></span>
                    <img src="{{ asset('img/3star.png') }}" alt="rating" class="star">
                </div>
            </div>
        </div>
        <div id="hotel-listing">
            <div class="col-lg-5 col-sm-6 row">
                <div class="hotel-img">
                    <img src="{{ asset('img/listing/gangtok15.jpg') }}" alt="" class="img-responsive">
                    <span class="price">&#x20b9;5000 - &#x20b9;7000</span>
                </div>
            </div>
            <div class="col-lg-7 col-sm-6">
                <div class="hotel-details">
                    <h3>Hotel Bella Casa</h3>
                    <span class="address">Balwakhani, Gangtok, Sikkim	 </span><br>
                    <span class="com">Email: reservations@bellacasa.in	 	 	  / www.bellacasa.in	 	 </span><br>
                    <span class="contact"><strong>Call us : 91 3592 123456 	 </strong></span><br>
                    <span class="amenities">
                        <i class="fa fa-wifi" title="Wifi"></i>
                        <i class="fa fa-cab" title="Cab Service"></i>
                        <i class="fa fa-file-video-o" title="CCTV"></i>
                        <i class="fa fa-medkit" title="Dr. on call"></i>
                        <i class="fa fa-cutlery" title="Food"></i>
                        <i class="fa fa-plane" title="Travel Desk"></i>
                    </span>
                    <h5><a href="#" target="_blank" class="g-map"><img src="{{ asset('img/map.png') }}" alt=""> </a>
                        Nearby Milestones
                    </h5>
                    <ul>
                        <li class="popover-icon" data-container="body" data-toggle="popover" data-trigger="hover"
                            data-placement="top" data-content="Tashi View Point">
                            <img src="{{ asset('img/destination/gtk6.jpeg') }}" class="img-circle grow" alt=""></li>
                        <li class="popover-icon" data-container="body" data-toggle="popover" data-trigger="hover"
                            data-placement="top" data-content="Ropeway">
                            <img src="{{ asset('img/destination/gtk2.jpeg') }}" class="img-circle grow" alt=""></li>


                    </ul>
                    <span class="more"><a href="http://www.bellacasa.in" target="_blank">read more</a></span>
                    <img src="{{ asset('img/3star.png') }}" alt="rating" class="star">
                </div>
            </div>
        </div>
        <div id="hotel-listing">
            <div class="col-lg-5 col-sm-6 row">
                <div class="hotel-img">
                    <img src="{{ asset('img/listing/gangtok16.jpg') }}" alt="" class="img-responsive">
                    <span class="price">&#x20b9;3000 - &#x20b9;4000</span>
                </div>
            </div>
            <div class="col-lg-7 col-sm-6">
                <div class="hotel-details">
                    <h3>The Royal Residency</h3>
                    <span class="address">Amdo Golai, National Highway, Gangtok, Sikkim</span><br>
                    <span class="com">Email: theroyalresidencygangtok@gmail.com		 	  </span><br>
                    <span class="contact"><strong>Call us : 91 9932480131 / 9832048355	 	 </strong></span><br>
                    <span class="amenities">
                        <i class="fa fa-wifi" title="Wifi"></i>
                        <i class="fa fa-cab" title="Cab Service"></i>
                        <i class="fa fa-file-video-o" title="CCTV"></i>
                        <i class="fa fa-medkit" title="Dr. on call"></i>
                        <i class="fa fa-cutlery" title="Food"></i>
                        <i class="fa fa-plane" title="Travel Desk"></i>
                    </span>
                    <h5><a href="#" target="_blank" class="g-map"><img src="{{ asset('img/map.png') }}" alt=""> </a>
                        Nearby Milestones
                    </h5>
                    <ul>
                        <li class="popover-icon" data-container="body" data-toggle="popover" data-trigger="hover"
                            data-placement="top" data-content="Tashi View Point">
                            <img src="{{ asset('img/destination/gtk6.jpeg') }}" class="img-circle grow" alt=""></li>
                        <li class="popover-icon" data-container="body" data-toggle="popover" data-trigger="hover"
                            data-placement="top" data-content="Ropeway">
                            <img src="{{ asset('img/destination/gtk2.jpeg') }}" class="img-circle grow" alt=""></li>


                    </ul>
                    <span class="more"><a href="http://www.royalresidencysikkim.com" target="_blank">read more</a></span>
                    <img src="{{ asset('img/3star.png') }}" alt="rating" class="star">
                </div>
            </div>
        </div>
        <div id="hotel-listing">
            <div class="col-lg-5 col-sm-6 row">
                <div class="hotel-img">
                    <img src="{{ asset('img/listing/gangtok17.jpg') }}" alt="" class="img-responsive">
                    <span class="price">&#x20b9;2200 - &#x20b9;4300</span>
                </div>
            </div>
            <div class="col-lg-7 col-sm-6">
                <div class="hotel-details">
                    <h3>Hidden Forest Retreat</h3>
                    <span class="address">Middle Sichey, Gangtok, Sikkim	 	 </span><br>
                    <span class="com">Email: kesang27@gmail.com	 / 	 www.hiddenforestretreat.org  </span><br>
                    <span class="contact"><strong>Call us : 91 3592 205197 / 9474981367	 	 </strong></span><br>
                    <span class="amenities">
                        <i class="fa fa-wifi" title="Wifi"></i>
                        <i class="fa fa-cab" title="Cab Service"></i>
                        <i class="fa fa-file-video-o" title="CCTV"></i>
                        <i class="fa fa-medkit" title="Dr. on call"></i>
                        <i class="fa fa-cutlery" title="Food"></i>
                        <i class="fa fa-plane" title="Travel Desk"></i>
                    </span>
                    <h5><a href="#" target="_blank" class="g-map"><img src="{{ asset('img/map.png') }}" alt=""> </a>
                        Nearby Milestones
                    </h5>
                    <ul>
                        <li class="popover-icon" data-container="body" data-toggle="popover" data-trigger="hover"
                            data-placement="top" data-content="Banjhakri Falls">
                            <img src="{{ asset('img/destination/gtk5.jpg') }}" class="img-circle grow" alt=""></li>


                    </ul>
                    <span class="more"><a href="http://www.hiddenforestretreat.org" target="_blank">read more</a></span>
                    <img src="{{ asset('img/3star.png') }}" alt="rating" class="star">
                </div>
            </div>
        </div>
        <div id="hotel-listing">
            <div class="col-lg-5 col-sm-6 row">
                <div class="hotel-img">
                    <img src="{{ asset('img/listing/gangtok18.jpg') }}" alt="" class="img-responsive">
                    <span class="price">&#x20b9;2000 - &#x20b9;3000</span>
                </div>
            </div>
            <div class="col-lg-7 col-sm-6">
                <div class="hotel-details">
                    <h3>Hotel D-Wang</h3>
                    <span class="address">Sajong, Rumtek, East Sikkim	 </span><br>
                    <span class="com">Email: dwangresevations@gmail.com	 	 / 	 www.hoteldwang.com	 </span><br>
                    <span class="contact"><strong>Call us : 9593988629 / 9475504205	 </strong></span><br>
                    <span class="amenities">
                        <i class="fa fa-wifi" title="Wifi"></i>
                        <i class="fa fa-cab" title="Cab Service"></i>
                        <i class="fa fa-file-video-o" title="CCTV"></i>
                        <i class="fa fa-medkit" title="Dr. on call"></i>
                        <i class="fa fa-cutlery" title="Food"></i>
                        <i class="fa fa-plane" title="Travel Desk"></i>
                    </span>
                    <h5><a href="#" target="_blank" class="g-map"><img src="{{ asset('img/map.png') }}" alt=""> </a>
                        Nearby Milestones
                    </h5>
                    <ul>
                        <li class="popover-icon" data-container="body" data-toggle="popover" data-trigger="hover"
                            data-placement="top" data-content="Rumtek Monastery">
                            <img src="{{ asset('img/destination/rumtek-monastery.jpeg') }}" class="img-circle grow" alt=""></li>


                    </ul>
                    <span class="more"><a href="http://www.hoteldwang.com" target="_blank">read more</a></span>
                    <img src="{{ asset('img/3star.png') }}" alt="rating" class="star">
                </div>
            </div>
        </div>
        <div id="hotel-listing">
            <div class="col-lg-5 col-sm-6 row">
                <div class="hotel-img">
                    <img src="{{ asset('img/listing/gangtok19.jpg') }}" alt="" class="img-responsive">
                    <span class="price">&#x20b9;5000 - &#x20b9;15000</span>
                </div>
            </div>
            <div class="col-lg-7 col-sm-6">
                <div class="hotel-details">
                    <h3>The Royal Plaza</h3>
                    <span class="address">Upper syari, Deorali, Gangtok, Sikkim	 	 </span><br>
                    <span class="com">Email: tripsarovarhotels.com	 	 / 	 www.sarovarhotels.com </span><br>
                    <span class="contact"><strong>Call us : 91 3592 280232 	  </strong></span><br>
                    <span class="amenities">
                        <i class="fa fa-wifi" title="Wifi"></i>
                        <i class="fa fa-cab" title="Cab Service"></i>
                        <i class="fa fa-file-video-o" title="CCTV"></i>
                        <i class="fa fa-medkit" title="Dr. on call"></i>
                        <i class="fa fa-cutlery" title="Food"></i>
                        <i class="fa fa-plane" title="Travel Desk"></i>
                        <i class="fa fa-support" title="Casino"></i>
                    </span>
                    <h5><a href="#" target="_blank" class="g-map"><img src="{{ asset('img/map.png') }}" alt=""> </a>
                        Nearby Milestones
                    </h5>
                    <ul>
                        <li class="popover-icon" data-container="body" data-toggle="popover" data-trigger="hover"
                            data-placement="top" data-content="Ropeway">
                            <img src="{{ asset('img/destination/gtk2.jpeg') }}" class="img-circle grow" alt=""></li>
                        <li class="popover-icon" data-container="body" data-toggle="popover" data-trigger="hover"
                            data-placement="top" data-content="Chorten Monastery">
                            <img src="{{ asset('img/destination/chorten-monastery.jpeg') }}" class="img-circle grow" alt=""></li>


                    </ul>
                    <span class="more"><a href="http://www.sarovarhotels.com/" target="_blank">read more</a></span>
                    <img src="{{ asset('img/4star.png') }}" alt="rating" class="star">
                </div>
            </div>
        </div>
        <div id="hotel-listing">
            <div class="col-lg-5 col-sm-6 row">
                <div class="hotel-img">
                    <img src="{{ asset('img/listing/gangtok20.jpg') }}" alt="" class="img-responsive">
                    <span class="price">&#x20b9;2000 - &#x20b9;6000</span>
                </div>
            </div>
            <div class="col-lg-7 col-sm-6">
                <div class="hotel-details">
                    <h3>Singalila Mingyur</h3>
                    <span class="address">Indira Bypass, Gangtok, Sikkim	 	 </span><br>
                    <span class="com">Email: hotelsingalilamingyur@gmail.com	 	 </span><br>
                    <span class="contact"><strong>Call us : 91 9434867100 / 9609871102</strong></span><br>
                    <span class="amenities">
                        <i class="fa fa-wifi" title="Wifi"></i>
                        <i class="fa fa-cab" title="Cab Service"></i>
                        <i class="fa fa-file-video-o" title="CCTV"></i>
                        <i class="fa fa-medkit" title="Dr. on call"></i>
                        <i class="fa fa-cutlery" title="Food"></i>
                        <i class="fa fa-plane" title="Travel Desk"></i>
                    </span>
                    <h5><a href="#" target="_blank" class="g-map"><img src="{{ asset('img/map.png') }}" alt=""> </a>
                        Nearby Milestones
                    </h5>
                    <ul>
                        <li class="popover-icon" data-container="body" data-toggle="popover" data-trigger="hover"
                            data-placement="top" data-content="Banjhakari Falls">
                            <img src="{{ asset('img/destination/gtk5.jpg') }}" class="img-circle grow" alt=""></li>
                        <li class="popover-icon" data-container="body" data-toggle="popover" data-trigger="hover"
                            data-placement="top" data-content="Helipad">
                            <img src="{{ asset('img/destination/helipad.jpeg') }}" class="img-circle grow" alt=""></li>


                    </ul>
                    <span class="more"><a href="http://www.hotelginalilamingyur.com" target="_blank">read more</a></span>
                    <img src="{{ asset('img/4star.png') }}" alt="rating" class="star">
                </div>
            </div>
        </div>
    </div>
    <div class="col-lg-3 hidden-sm hidden-xs">
        {{ include(':default:advert.html.twig') }}
    </div>
{% endblock %}
