{% extends 'base.html.twig' %}
{% block deals %}
    <div id="deals">
        <div class="col-lg-12">
            <h4><span><strong>Best Deals</strong> in September - November</span></h4>
        </div>
    </div>
{% endblock %}
            {% block carousel %}
<div id="owl-gallery" class="owl-carousel">
    <div class=" img-wrap">
        <div class="item grow">
            <a href="{{ path('package_form') }}"><img src="{{ asset('img/rooms/1.jpg') }}" alt=""
                                                      class="img-responsive image"></a>
            <div class="middle">
                <a href="{{ path('package_form') }}">
                    <div class="text">Explore Now</div>
                </a>
            </div>
        </div>
    </div>
    <div class=" img-wrap">
        <div class="item grow">
            <a href="{{ path('package_form') }}"><img src="{{ asset('img/rooms/2.jpg') }}" alt=""
                                                      class="img-responsive image"></a>
            <div class="middle">
                <a href="{{ path('package_form') }}">
                    <div class="text">Explore Now</div>
                </a>
            </div>
        </div>
    </div>
    <div class=" img-wrap">
        <div class="item grow">
            <a href="{{ path('package_form') }}"><img src="{{ asset('img/rooms/3.jpg') }}" alt=""
                                                      class="img-responsive image"></a>
            <div class="middle">
                <a href="{{ path('package_form') }}">
                    <div class="text">Explore Now</div>
                </a>
            </div>
        </div>
    </div>
    <div class=" img-wrap">
        <div class="item grow">
            <a href="{{ path('package_form') }}"><img src="{{ asset('img/rooms/4.jpg') }}" alt=""
                                                      class="img-responsive image"></a>
            <div class="middle">
                <a href="{{ path('package_form') }}">
                    <div class="text">Explore Now</div>
                </a>
            </div>
        </div>
        <div class=" img-wrap">
        </div>
        {% endblock %}
        {% block body %}
            <h3 class="lined-heading"><span>What makes us special</span></h3>
            <div class="col-lg-4">
                <div class="about row">
                    <i class="fa fa-search"></i>
                    <h3>First Hand Information</h3>
                    <p>
                        We've combined unrivalled first-hand information of five-star hospitality to a home stay service
                        in a
                        small village to create this informative web portal.
                    </p>
                </div>
            </div>
            <div class="col-lg-4">
                <div class="about row">
                    <i class="fa fa-handshake-o"></i>
                    <h3>Local Help</h3>
                    <p>We've a experienced and local support team to look after your pleasant stay in Sikkim
                    </p>
                </div>
            </div>
            <div class="col-lg-4">
                <div class="about row no-border">
                    <i class="fa fa-money"></i>
                    <h3>Bargain for your money</h3>
                    <p>We connect you directly to the front desk of hotel. This gives you the freedom to bargain and
                        choose the
                        best package.
                    </p>
                </div>
            </div>
        {% endblock %}
