{% extends 'base.html.twig' %}
{% block frame %}
    <img src="{{ asset('img/frame2.jpg') }}" alt="">
{% endblock %}
{% block body %}
    <div class="col-lg-9">
    <div id="hotel-listing">
        <div class="col-lg-5 col-sm-6 row">
            <div class="hotel-img">
                <img src="{{ asset('img/listing/lachung1.jpg') }}" alt="" class="img-responsive">
                <span class="price">&#x20b9;1500 - &#x20b9;2000</span>
            </div>
        </div>
        <div class="col-lg-7 col-sm-6">
            <div class="hotel-details">
                <h3>Hotel Royal Mount</h3>
                <span class="address">Singring, Lachung, North Sikkim</span><br>
                <span class="com">Email: info@hotelrainbowgangtok.com / www.hotelrainbowgangtok.com	 	  </span><br>
                <span class="contact"><strong>Call us : 7364080193 / 9635139391	 </strong></span><br>
                <span class="amenities">
                        <i class="fa fa-cab" title="Cab Services"></i>
                        <i class="fa fa-plane" title="Travel Desk"></i>
                        <i class="fa fa-medkit" title="Dr. on call"></i>
                        <i class="fa fa-plug" title="Power Backup"></i>
                    </span>
                <h5><a href="#" target="_blank" class="g-map"><img src="{{ asset('img/map.png') }}" alt=""> </a>
                    Nearby Milestones
                </h5>
                <ul>
                    <li class="popover-icon" data-container="body" data-toggle="popover" data-trigger="hover"
                    data-placement="top" data-content="Yumthang Valley">
                    <img src="{{ asset('img/destination/yumthang-valley.jpeg') }}" class="img-circle grow" alt=""></li>
                    <li class="popover-icon" data-container="body" data-toggle="popover" data-trigger="hover"
                    data-placement="top" data-content="Katao">
                    <img src="{{ asset('img/destination/katao.jpeg') }}" class="img-circle grow" alt=""></li>


                </ul>
                <span class="more"><a href="http://www.hotelrainbowgangtok.com" target="_blank">CHECK-IN</a></span>
                <img src="{{ asset('img/2star.png') }}" alt="rating" class="star">
            </div>
        </div>
    </div>
    <div id="hotel-listing">
            <div class="col-lg-5 col-sm-6 row">
                <div class="hotel-img">
                    <img src="{{ asset('img/listing/lachung2.jpg') }}" alt="" class="img-responsive">
                    <span class="price">&#x20b9;3000 - &#x20b9;5000</span>
                </div>
            </div>
            <div class="col-lg-7 col-sm-6">
                <div class="hotel-details">
                    <h3>Hotel Hill</h3>
                    <span class="address">Lachung, North Sikkim	 </span><br>
                    <span class="com">Email: thehillhotels@gmail.com / www.hillhotels.in	  </span><br>
                    <span class="contact"><strong>Call us :9830513208	 </strong></span><br>
                    <span class="amenities">
                        <i class="fa fa-cab" title="Cab Services"></i>
                        <i class="fa fa-video-camera" title="CCTV"></i>
                        <i class="fa fa-coffee" title="Room Service"></i>
                        <i class="fa fa-tint" title="Running Water"></i>
                    </span>
                    <h5><a href="#" target="_blank" class="g-map"><img src="{{ asset('img/map.png') }}" alt=""> </a>
                        Nearby Milestones
                    </h5>
                    <ul>
                        <li class="popover-icon" data-container="body" data-toggle="popover" data-trigger="hover"
                            data-placement="top" data-content="Yumthang Valley">
                            <img src="{{ asset('img/destination/yumthang-valley.jpeg') }}" class="img-circle grow" alt=""></li>
                        <li class="popover-icon" data-container="body" data-toggle="popover" data-trigger="hover"
                            data-placement="top" data-content="Katao">
                            <img src="{{ asset('img/destination/katao.jpeg') }}" class="img-circle grow" alt=""></li>


                    </ul>
                    <span class="more"><a href="http://www.hillhotels.in" target="_blank">CHECK-IN</a></span>
                    <img src="{{ asset('img/3star.png') }}" alt="rating" class="star">
                </div>
            </div>
        </div>
        <div id="hotel-listing">
            <div class="col-lg-5 col-sm-6 row">
                <div class="hotel-img">
                    <img src="{{ asset('img/listing/lachung3.jpg') }}" alt="" class="img-responsive">
                    <span class="price">&#x20b9;2000 - &#x20b9;5000</span>
                </div>
            </div>
            <div class="col-lg-7 col-sm-6">
                <div class="hotel-details">
                    <h3>Mistique Valley Inn	 </h3>
                    <span class="address">Lachung, North Sikkim	 </span><br>
                    <span class="com">Email: sales@northadverturesikkim.com	 	 </span><br>
                    <span class="contact"><strong>Call us : 91 8768977949 / 9474499499	 	  </strong></span><br>
                    <span class="amenities">
                        <i class="fa fa-cab" title="Cab Services"></i>
                        <i class="fa fa-video-camera" title="CCTV"></i>
                        <i class="fa fa-coffee" title="Room Service"></i>
                        <i class="fa fa-tint" title="Running Water"></i>
                    </span>
                    <h5><a href="#" target="_blank" class="g-map"><img src="{{ asset('img/map.png') }}" alt=""> </a>
                        Nearby Milestones
                    </h5>
                    <ul>
                        <li class="popover-icon" data-container="body" data-toggle="popover" data-trigger="hover"
                            data-placement="top" data-content="Yumthang Valley">
                            <img src="{{ asset('img/destination/yumthang-valley.jpeg') }}" class="img-circle grow" alt=""></li>
                        <li class="popover-icon" data-container="body" data-toggle="popover" data-trigger="hover"
                            data-placement="top" data-content="Katao">
                            <img src="{{ asset('img/destination/katao.jpeg') }}" class="img-circle grow" alt=""></li>


                    </ul>
                    <span class="more"><a href="http://www.northadventuresikim.com" target="_blank">CHECK-IN</a></span>
                    <img src="{{ asset('img/4star.png') }}" alt="rating" class="star">
                </div>
            </div>
        </div>
        <div id="hotel-listing">
            <div class="col-lg-5 col-sm-6 row">
                <div class="hotel-img">
                    <img src="{{ asset('img/listing/lachung4.jpg') }}" alt="" class="img-responsive">
                    <span class="price">&#x20b9;2000 - &#x20b9;5000</span>
                </div>
            </div>
            <div class="col-lg-7 col-sm-6">
                <div class="hotel-details">
                    <h3>Aki Guest House</h3>
                    <span class="address">Phaka, Katau Road, Lauhung North Sikkim	 	 	 </span><br>
                    <span class="com">Email: kiguest@gmail.com	 / www.akiguesthouse.com	 </span><br>
                    <span class="contact"><strong>Call us : 83768129555 </strong></span><br>
                    <span class="amenities">
                        <i class="fa fa-cab" title="Cab Services"></i>
                        <i class="fa fa-video-camera" title="CCTV"></i>
                        <i class="fa fa-coffee" title="Room Service"></i>
                        <i class="fa fa-tint" title="Running Water"></i>
                    </span>
                    <h5><a href="#" target="_blank" class="g-map"><img src="{{ asset('img/map.png') }}" alt=""> </a>
                        Nearby Milestones
                    </h5>
                    <ul>
                        <li class="popover-icon" data-container="body" data-toggle="popover" data-trigger="hover"
                            data-placement="top" data-content="Yumthang Valley">
                            <img src="{{ asset('img/destination/yumthang-valley.jpeg') }}" class="img-circle grow" alt=""></li>
                        <li class="popover-icon" data-container="body" data-toggle="popover" data-trigger="hover"
                            data-placement="top" data-content="Katao">
                            <img src="{{ asset('img/destination/katao.jpeg') }}" class="img-circle grow" alt=""></li>


                    </ul>
                    <span class="more"><a href="http://www.akiguesthouse.com" target="_blank">CHECK-IN</a></span>
                    <img src="{{ asset('img/4star.png') }}" alt="rating" class="star">
                </div>
            </div>
        </div>
        <div id="hotel-listing">
            <div class="col-lg-5 col-sm-6 row">
                <div class="hotel-img">
                    <img src="{{ asset('img/listing/lachung5.jpg') }}" alt="" class="img-responsive">
                    <span class="price">&#x20b9;2000 - &#x20b9;5000</span>
                </div>
            </div>
            <div class="col-lg-7 col-sm-6">
                <div class="hotel-details">
                    <h3>Lachung Continental</h3>
                    <span class="address">Lauhung North Sikkim	 	 	 </span><br>
                    <span class="com">Email: lauchungcontinentalsikkim@gmail.com			</span><br>
                    <span class="contact"><strong>Call us : 9865432210	</strong></span><br>
                    <span class="amenities">
                        <i class="fa fa-cab" title="Cab Services"></i>
                        <i class="fa fa-video-camera" title="CCTV"></i>
                        <i class="fa fa-coffee" title="Room Service"></i>
                        <i class="fa fa-tint" title="Running Water"></i>
                    </span>
                    <h5><a href="#" target="_blank" class="g-map"><img src="{{ asset('img/map.png') }}" alt=""> </a>
                        Nearby Milestones
                    </h5>
                    <ul>
                        <li class="popover-icon" data-container="body" data-toggle="popover" data-trigger="hover"
                            data-placement="top" data-content="Yumthang Valley">
                            <img src="{{ asset('img/destination/yumthang-valley.jpeg') }}" class="img-circle grow" alt=""></li>
                        <li class="popover-icon" data-container="body" data-toggle="popover" data-trigger="hover"
                            data-placement="top" data-content="Katao">
                            <img src="{{ asset('img/destination/katao.jpeg') }}" class="img-circle grow" alt=""></li>


                    </ul>
                    <span class="more"><a href="#" target="_blank">CHECK-IN</a></span>
                    <img src="{{ asset('img/3star.png') }}" alt="rating" class="star">
                </div>
            </div>
        </div>
    </div>
    <div class="col-lg-3 hidden-sm hidden-xs">
        {{ include(':default:advert.html.twig') }}
    </div>
{% endblock %}
{% block javascripts %}
    {{ parent() }}
    <script>
        $(document).ready(function () {
            // Handler for .ready() called.
            if($(window).width() <= 480) {
                $('html, body').animate({
                    scrollTop: $('#main-content').offset().top
                }, 'slow');
            }
        });
    </script>
{% endblock %}