{% extends 'base.html.twig' %}

{% block body %}
    <h1>Milestone</h1>

    <table>
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ milestone.id }}</td>
            </tr>
            <tr>
                <th>Title</th>
                <td>{{ milestone.title }}</td>
            </tr>
            <tr>
                <th>Path</th>
                <td>{{ milestone.path }}</td>
            </tr>
        </tbody>
    </table>

    <ul>
        <li>
            <a href="{{ path('milestone_index') }}">Back to the list</a>
        </li>
        <li>
            <a href="{{ path('milestone_edit', { 'id': milestone.id }) }}">Edit</a>
        </li>
        <li>
            {{ form_start(delete_form) }}
                <input type="submit" value="Delete">
            {{ form_end(delete_form) }}
        </li>
    </ul>
{% endblock %}
